<h1 class="mb-3 text-4xl font-extrabold">Error</h1>
<p class="mt-8 mb-12 text-neutral-400 dark:text-neutral-500">Page not found</p>
<div class="prose dark:prose-invert">
  <p>The page you are looking for does not exist on this server</p>
</div>
